html{

    @media #{map-get($mediaQuery, "m")}{
        font-size: 55.5%;
    }
}


body{
    color: map-get($color, "dark-gray");
    background: map-get($color, "light-brown");
    font-size: 2rem;
    line-height: 1.2;
}





::-webkit-input-placeholder {
   color: #43392F;
}
:-moz-placeholder { /* Firefox 18- */
   color: #43392F;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #43392F;
}
:-ms-input-placeholder {
   color: #43392F;
}




a:not(.clean-link),
.link:not(.clean-link){
    color: inherit;
    text-decoration: underline;
    cursor: pointer;

    &:hover{
        color: map-get($color, "orange");
    }
}





input{
    width: 100%;
    padding: 6px 10px;
    text-transform: uppercase;

    &.error{
        background-color: map-get($color, "light-red");
    }

    @media #{map-get($mediaQuery, "m")}{
        padding: 10px;
    }
}



textarea{
    height: 150px;
    max-height: 300px;
}



input[type="file"]{
    position: relative;

    &.selected{

        &:after{
            content: "File Selected";
        }
    }

    &:after{
        content: "Upload Watch File";
        background-color: #E7E1E1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        left: 0;
        box-shadow: inset 0 2px 11px rgba(0,0,0,0.35);
        line-height: 52px;
    }


}

.uploaded:after{
  content: "File Uploaded" !important;
}
